API_PORT=8058
DELVE_PORT=2446
DB_HOST=127.0.0.1
DB_PORT=3306
DB_INTERNAL_PORT=3306
DB_NAME=db
DB_USER=user
DB_PASS=pass
DB_ROOT_PASSWORD=root
REDIS_HOST=127.0.0.1
REDIS_PORT=6384
REDIS_INTERNAL_PORT=6379
REDIS_DB=0
REDIS_USER=redis
REDIS_PASSWORD=redis
SECRET_KEY=secret
REFRESH_TOKEN_LT=24h
ACCESS_TOKEN_LT=30m
TEAM_RESULT_LT=5m